body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://i.ibb.co/wyF8LS8/sea-sky-horizon-145313-1920x1080.jpg");
}

h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
  text-transform: capitalize;
  margin-bottom: 28px;
}
.all-app {
  width: 800px;
  margin: 15px auto;
}

.all {
  padding: 30px;
  background-color: #f2eef0;
  border: 1px solid #35b5b2;
  border-radius: 20px;
}

.button {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 400;
}
.button:hover {
  cursor: pointer;
  background-color: #469597;
  color: aliceblue;
}
.h1 {
  text-align: center;
  font-size: 45px;
  color: #469597;
  margin-bottom: 5px;
}
.date {
  list-style: none;
  text-align: center;
  margin: auto;
  color: #469597;
}

.weather-temperature img {
  margin-left: 20px;
  height: 74px;
  width: 74px;
}
.weather-temperature strong {
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.humidity-and-wind {
  list-style: none;
  margin-left: 10px;
}

.humidity {
  font-weight: 600;
}

.wind {
  font-weight: 600;
}

.btn-light {
  margin-bottom: 10px;
}

.btn-dark {
  margin-bottom: 10px;
}

.form-floating {
  margin-left: 170px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #469597;
  border: none;
}

.btn-primary:hover {
  background-color: #3e8586;
}

a {
  color: #3377b3;
}

a:hover {
  color: rgb(36, 84, 85);
}
