body {
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
  text-transform: capitalize;
  margin-bottom: 28px;
}
.all-app {
  width: 800px;
  margin: 15px auto;
}

.all {
  padding: 30px;

  border: 1px solid #dadde1;
  border-radius: 20px;
}

.button {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 400;
}
.button:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: aliceblue;
}
.h1 {
  text-align: center;
  font-size: 45px;
  color: #4eb6b5;
  margin-bottom: 5px;
}
.date {
  list-style: none;
  text-align: center;
  margin: auto;
  color: #4eb6b5;
}

.weather-temperature img {
  margin-right: 15px;
  margin-left: 20px;
  height: 74px;
  width: 74px;
}
.weather-temperature strong {
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
}

.humidity-and-wind {
  list-style: none;
  margin-left: 10px;
}
